<html>
	<head>
		 {% if title %}
		 <title> {{ title }} - classifier</title>
		 {% else %}
	 	 <title> diffpanstarrs </title>
     {% endif %}

    <script type="text/javascript">

        function picture(elementid){
			var img = document.getElementById(elementid);
			var  el = document.getElementById('cell-input['+elementid+']')
			var opacity =  window.getComputedStyle(img).getPropertyValue("opacity");
			if ( opacity == 1 ) {
               img.style.opacity="0.3";
               el.value = 1;
		    } else {
			   img.style.opacity="1.0";
			   el.value = 0;
			}
        }


    </script>

     {% block head %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     {% endblock %}
     
     {% block extracss %} {% endblock %}
  </head>


	<body>
    <div class="container">
      <div class="containerb">
        <ul class="h-menu">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
              <li class="active">
				<a>Classify</a>
                <ul class="d-menu" data-role='dropdown'>
                    <li><a href="{{ url_for('protected') }}">Classify</a></li>
                    <li><a href="{{ url_for('cherry_picking') }}">Cherry picking</a></li>
                </ul>
			  </li>
            {% if not current_user.is_authenticated %}
              <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
              <li>
                <a>Results</a>
                <ul class="d-menu" data-role='dropdown'>
                    <li><a href="{{ url_for('results') }}">Positive</a></li>
                    <li><a href="{{ url_for('negative_results') }}">Negative</a></li>
                    <li><a href="{{ url_for('false_negatives') }}">False negatives</a></li>
										<li><a href="{{ url_for('miliquas_results') }}">Miliquas results</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('personal_page') }}">{{ current_user.username }}</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>


      </div>



      {% block content %} {% endblock %}
      {% block image %} {% endblock %}

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li> {{ message }} </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
  </body>
</html>
