{% extends "base.html" %}

{% block extracss %} 
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style_grid.css') }}">
{% endblock %}
</head>
{% block content %}
<form method="post">
	<p style="color:white;">{{ ndone }} reviewed out of {{ ntot }} in this set </p>
        <p style="color:white;">score range: {{cands[0].quad_score|round(3)}} to {{cands[-1].quad_score|round(3)}} </p>

<div class="game-container">
  <div class="button-container">
    <input type="submit" value="Submit" class="btn btn-primary btn-block">
  </div>
  <div class="grid-container">
      {% for i in range(9) %}
        <div class="grid-row">
          {% for j in range(9) %}
             <div class="grid-cell" id="demo">
              <a> <img src="{{ url_for('static', filename='stamps_from_miliquas/'+cands[j+i*9].miliquas_stamp) }}" class="image-container-input" id="{{ cands[j+i*9].id }}" onclick="picture(this.id)" style="display:block;"> </img>
              </a>
              <ul  class="d-menu" data-role='dropdown'>
                <li>
                <a href="{{ 'http://ps1images.stsci.edu/cgi-bin/ps1cutouts?pos=' ~ cands[j+i*9].ra/10000 ~ '+' ~ cands[j+i*9].dec/10000 ~ '&filter=color&filter=g&filter=r&filter=i&filter=z&filter=y&filetypes=stack&auxiliary=data&size=80&output_size=400&verbose=0&autoscale=99.500000&catlist=' }}" target="_blank"> Pan-STARRS </a>
                </li>
                <li>
                <a href="{{ 'http://legacysurvey.org/viewer?ra=' ~ cands[j+i*9].ra/10000 ~ '&dec=' ~ cands[j+i*9].dec/10000 ~ '&layer=dr8&zoom=16&gaia-dr2&spectra' }}" target="_blank"> Legacy Survey </a>
                </li>
                <li>
                    <a href="{{ 'http://legacysurvey.org/viewer?ra=' ~ cands[j+i*9].ra/10000 ~ '&dec=' ~ cands[j+i*9].dec/10000 ~ '&layer=des-dr1&zoom=16&gaia-dr2' }}" target="_blank"> DES </a>
                </li>
                <li>
                <a href="{{ 'http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-ref=VIZ59df3f2a9003&-to=4&-from=-3&-this=-3&%2F%2Fsource=I%2F345%2Fgaia2&%2F%2Ftables=I%2F345%2Fgaia2&-out.max=50&%2F%2FCDSportal=http%3A%2F%2Fcdsportal.u-strasbg.fr%2FStoreVizierData.html&-out.form=HTML+Table&-out.add=_r&-out.add=_p&-out.add=_x%2C_y&%2F%2Foutaddvalue=default&-oc.form=sexa&-nav=cat%3AI%2F345%26tab%3A%7BI%2F345%2Fgaia2%7D%26key%3Asource%3DI%2F345%2Fgaia2%26pos%3A' ~ cands[j+i*9].ra/10000 ~ '%09' ~ cands[j+i*9].dec/10000 ~ '%28+++5+arcsec+J2000%29%26HTTPPRM%3A%26-ref%3DVIZ59df3f2a9003%26-out.src%3DI%2F345%2Fgaia2%26Clear%3D+Clear%26-c%3D' ~ cands[j+i*9].ra/10000 ~ '%09' ~ cands[j+i*9].dec/10000 ~ '%26-c.r%3D++5%26-out.orig%3Dorig%26-out%3Dra%26-out%3Ddec%26-out%3Dparallax%26-out%3Dparallax_error%26-out%3Dpmra%26-out%3Dpmra_error%26-out%3Dpmdec%26-out%3Dpmdec_error%26-out%3Dastrometric_excess_noise%26-out%3Dastrometric_excess_noise_sig%26-out%3Dduplicated_source%26-out%3Dphot_g_mean_mag%26-out%3Dbp_rp%26-out%3Dphot_variable_flag%26-out%3Dl%26-out%3Db%26-meta.ucd%3D2%26-meta%3D1%26-meta.foot%3D1%26-usenav%3D1%26-bmark%3DGET%26-out.add%3D_r%26-out.add%3D_p%26-out.add%3D_x%2C_y%26-order%3DI%26-oc.form%3Dsexa%26-c.geom%3Dr%26-out.max%3D50%26-out.form%3DHTML+Table%26undefined%3DCDS%2C+France%26-c.eq%3DJ2000%26-c.u%3Darcsec%26&-c=' ~ cands[j+i*9].ra/10000 ~ '%09' ~ cands[j+i*9].dec/10000 ~ '&-c.eq=J2000&-c.r=++5&-c.u=arcsec&-c.geom=r&-source=I%2F345%2Fgaia2&-order=I&-out.orig=orig&DR2Name=&-out=ra&RA_ICRS=&e_RA_ICRS=&-out=dec&DE_ICRS=&e_DE_ICRS=&SolID=&Source=&RandomI=&Epoch=&-out=parallax&Plx=&-out=parallax_error&e_Plx=&RPlx=&-out=pmra&pmRA=&-out=pmra_error&e_pmRA=&-out=pmdec&pmDE=&-out=pmdec_error&e_pmDE=&RADEcor=&RAPlxcor=&RApmRAcor=&RApmDEcor=&DEPlxcor=&DEpmRAcor=&DEpmDEcor=&PlxpmRAcor=&PlxpmDEcor=&pmRApmDEcor=&NAL=&NAC=&NgAL=&NbAL=&gofAL=&chi2AL=&-out=astrometric_excess_noise&epsi=&-out=astrometric_excess_noise_sig&sepsi=&Solved=&APF=&WAL=&pscol=&e_pscol=&fvarpi=&MatchObsA=&Nper=&amax=&type=&MatchObs=&-out=duplicated_source&Dup=&o_Gmag=&FG=&e_FG=&RFG=&-out=phot_g_mean_mag&Gmag=&e_Gmag=&o_BPmag=&FBP=&e_FBP=&RFBP=&BPmag=&e_BPmag=&o_RPmag=&FRP=&e_FRP=&RFRP=&RPmag=&e_RPmag=&E%28BR%2FRP%29=&Mode=&-out=bp_rp&BP-RP=&BP-G=&G-RP=&RV=&e_RV=&o_RV=&Tefftemp=&loggtemp=&%5BFe%2FH%5Dtemp=&-out=phot_variable_flag&Var=&GLON=&-out=b&GLAT=&ELON=&ELAT=&fPriam=&Teff=&b_Teff=&B_Teff=&AG=&b_AG=&B_AG=&E%28BP-RP%29=&b_E%28BP-RP%29=&B_E%28BP-RP%29=&fFLAME=&Rad=&b_Rad=&B_Rad=&Lum=&b_Lum=&B_Lum=&RAJ2000=&e_RAJ2000=&DEJ2000=&e_DEJ2000=&%2F%2Fnoneucd1p=on&-file=.&-meta.ucd=2&-meta=1&-meta.foot=1&-usenav=1&-bmark=GET'}}" target="_blank"> Gaia </a>
                </li>
                <li>
                <a href="{{ 'http://ned.ipac.caltech.edu/cgi-bin/objsearch?search_type=Near+Position+Search&in_csys=Equatorial&in_equinox=J2000.0&lon=' ~ cands[j+i*9].ra/10000 ~ 'd&lat=' ~ cands[j+i*9].dec/10000 ~ 'd&radius=2.0' }}" target="_blank"> NED </a>
                </li>
                <li>
                <a href="{{ 'http://vizier.u-strasbg.fr/viz-bin/VizieR-2?-c=' ~ cands[j+i*9].ra/10000 ~ ',' ~ cands[j+i*9].dec/10000 ~ '&-c.r=5&-c.u=arcsec' }}" target="_blank"> Vizier </a>
                </li>
                <li>
                {% if cands[j+i*9].dec >= 0 %}
                <a href="{{ 'http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/search/?Plane.position.bounds@Shape1Resolver.value=ALL&Plane.position.bounds=' ~ cands[j+i*9].ra/10000 ~ '%2C%20%2B' ~ cands[j+i*9].dec/10000 ~ '#sortCol=caom2%3APlane.time.bounds.lower&sortDir=dsc&col_1=_checkbox_selector;;;&col_2=caom2%3AObservation.uri;;;&col_3=caom2%3AObservation.collection;;;&col_4=caom2%3APlane.time.bounds.lower;;;&col_5=caom2%3AObservation.instrument.name;;;&col_6=caom2%3APlane.time.exposure;;;&col_7=caom2%3APlane.energy.bandpassName;;;&col_8=caom2%3APlane.position.sampleSize;;;arcsec&col_9=caom2%3APlane.time.bounds.upper;;;&col_10=caom2%3APlane.position.bounds.cval1;;;&col_11=caom2%3APlane.position.bounds.cval2;;;&col_12=caom2%3AObservation.observationID;;;' }}" target="_blank"> CFHT archive </a>
                {% else %}
                <a href="{{ 'http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/search/?Plane.position.bounds@Shape1Resolver.value=ALL&Plane.position.bounds=' ~ cands[j+i*9].ra/10000 ~ '%2C%20%2D' ~ -cands[j+i*9].dec/10000 ~ '#sortCol=caom2%3APlane.time.bounds.lower&sortDir=dsc&col_1=_checkbox_selector;;;&col_2=caom2%3AObservation.uri;;;&col_3=caom2%3AObservation.collection;;;&col_4=caom2%3APlane.time.bounds.lower;;;&col_5=caom2%3AObservation.instrument.name;;;&col_6=caom2%3APlane.time.exposure;;;&col_7=caom2%3APlane.energy.bandpassName;;;&col_8=caom2%3APlane.position.sampleSize;;;arcsec&col_9=caom2%3APlane.time.bounds.upper;;;&col_10=caom2%3APlane.position.bounds.cval1;;;&col_11=caom2%3APlane.position.bounds.cval2;;;&col_12=caom2%3AObservation.observationID;;;' }}" target="_blank"> CFHT archive </a>
                {% endif %}
                </li>
            </ul>
		       <input class="fadein-container-input" type="text" maxlength="1" name="{{ cands[j+i*9].id }}" class="def-txt-input" id="cell-input[{{ cands[j+i*9].id  }}]" value="0">
	     </div>
          {% endfor %}
        </div>
      {% endfor %}
  </div>
</div>
</form>
{% endblock %}
