{% extends "base.html" %}

{% block content %}

<div style="width:100%">
<div class="app-text">
	<h1>Finding lensed quasars using Pan-STARRS data</h1>
</div>
</div>

<div class="app-text">
	<h2> Help identify lensed quasars from variability images </h2>
	<p>
		Measurements on lensed quasars can help to constrain the parameters of the cosmological models 
		describing the Universe in its very large scales. But first, they need to be found! 
		Quasars have the property of being variable, which means that comparing the sky at different 
		epochs will help unravel them. The Pan-STARRS survey provides images of almost the whole sky at different times: 
		this is the data we use to build our variability images. 
	</p>
</div>

{% if current_user.username %}
<div class="app-text">
	<h2> Welcome, {{ current_user.username }}! </h2>
	<p> You contributed to {{ ncurrent }} classifications.</p>
</div>
{% endif %}

<div class="app-text"> 
	<h2> So far, the difference imaging procedure has been carried out for {{ totallens }} candidates.  </h2>
	<p> 
		Many more will come, but hopefully as classifications cumulate, the pre-sorting algorithm will get better and better
		such that less cases will need manual confirmation. <b> In total, {{ nreview }} classifications by {{ nusers }} users were made. </b>
	</p>
</div>
{% endblock %}
