{% extends "base.html" %}

{% block content %}
<div class="register">
	<h1> Sign in</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<label>
		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
		</p>
		</label><br>
		<label>
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
		</p>
		</label><br>
		<label>
		<p> {{ form.remember_me() }} {{ form.remember_me.label }}</p>
		</label>
		<label>
		<p> {{ form.submit() }} </p>
		</label>
	</form>
	<p> New User?  <a href="{{ url_for('register') }}">Click to Register!</a></p>

</div>

{% endblock %}
