{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block extracss %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/form_miliquas_results.css') }}">
{% endblock %}

{% block content %}
<div class="app-text">
    <h1>Difference imaging results of selected miliquas entries</h1>
</div>
<div class="form-group">
  <form action="" method="post" novalidate class="form" role="form">
    {{ form.hidden_tag() }}
    <table  class="databaseform">
      <tr>
        <th>{{ form.RA.label }}  </th><th>  {{ form.RA(class='form-control', style="color:grey; font-size:20px; vertical-align:center")}}</th>
      </tr>
      <tr>
        <th>{{ form.DEC.label }}  </th><th>  {{ form.DEC(class='form-control', style="color:grey; font-size:20px;") }}</th>
      </tr>
      <tr>
      <th>{{ form.onlyupvoted.label }}</th><th>   {{ form.onlyupvoted(class='form-control') }}</th>
      </tr>
      <tr>
      <th>{{ form.onlydownvoted.label }}</th><th>   {{ form.onlydownvoted(class='form-control') }}</th>
      </tr>
      <tr>
      <th>{{ form.notmanual.label }}  </th><th>  {{ form.notmanual(class='form-control') }}</th>
    </tr>
    <tr>
      <th>{{ form.scorelimit.label }}  </th><th>  {{ form.scorelimit(class='form-control', style="color:grey; font-size:20px;", placeholder="e.g >0.9 or <0.5") }}</th>
    </tr>
    <tr>
      <th>{{ form.rmagmin.label }}  </th><th>  {{ form.rmagmin(class='form-control', style="color:grey; font-size:20px;", placeholder="e.g 19") }}</th>
    </tr>                                                                                                                                                                  <tr>
      <th>{{ form.rmagmax.label }}  </th><th>  {{ form.rmagmax(class='form-control', style="color:grey; font-size:20px;", placeholder="e.g. 21") }}</th>
    </tr>                                                                                                                                                                  <tr>
      <th>{{ form.cherrypicked.label }} </th><th>   {{ form.cherrypicked(class='form-control') }}</th>
    </tr>
    <tr>
      <th>{{ form.notcherrypicked.label }} </th><th>   {{ form.notcherrypicked(class='form-control') }}</th>
    </tr>
    <tr>
      <th>{{ form.onlykronpsf.label }} </th><th>   {{ form.onlykronpsf(class='form-control') }}</th>
    </tr>
    <tr>
      <th>{{ form.onlyquadcandidates.label }}</th><th> {{ form.onlyquadcandidates(class='form-control') }}</th>
    </tr>

    <tr>
      <th>{{ form.onlyquadcandidates2.label }}</th><th> {{ form.onlyquadcandidates2(class='form-control') }}</th>
    </tr>
    </table>
		<p> {{ form.submit() }} </p>
  </form>
</div>
<div style="background-color:white; border-radius:10px;">
    <form method="post">
    <table class='table striped row-hover'>
        <thead>
            <tr>
            <th>ID</th>
            <th  style="text-align:center;"> Pan-STARRS gri</th>
            <th  style="text-align:center;"> Variability</th>
            <th>RA</th>
            <th>DEC</th>
            <th>Variability Map</th>
            <th> Links </th>
            <th>
              <a style="color:rgb(80, 0, 0);">Actions</a>
              <ul  class="d-menu" data-role='dropdown'>
                  <li>
                      <button style="background-color:rgba(9, 255, 0, 0.9); width:10em;" class="decide_button" type="submit" value="upvote" name='upvote'>upvote</button>
                  </li>
                  <li>
                      <button style="background-color:rgba(255, 60, 0, 0.9); width:10em;" class="decide_button" type="submit" value="downvote" name='downvote'>downvote</button>
                  </li>
                  <li>
                    <button style="background-color:rgba(200, 150, 0, 0.9); width:10em;" class="decide_button" type="submit" value="requestdiff" name='requestdiff'>Request diff img</button>
                  </li>
              </ul>
             </th>
            </tr>
        </thead>
        <tbody>
            {% for cand in cands %}
                <tr>
                    <td> {{ cand.id }} </td>
                    <td style="text-align:center;"> <img src="{{ url_for('static', filename='stamps_from_miliquas/'+cand.miliquas_stamp) }}"  style="width:80px; height:80px; margin:0;" > </td>
                    <td style="text-align:center;" >
                            <img src="{{ url_for('static', filename='images2/diffpanstarrsoutput/crop_'+cand.filename) }}" style="height:80px; width:80px;">
                    </td>
                    <td> {{ cand.ra/10000 }} </td>
                    <td> {{ cand.dec/10000 }} </td>
                    <td>
			{% if cand.medianfilename %}
			<a style="color:rgb(34, 111, 226);">score: {{ cand.diff_score }}</a>
			<ul  class="d-menu" data-role='dropdown'>
				<li>
                                    <a  href="{{ url_for('static', filename='images2/diffpanstarrsoutput/'+cand.filename) }}" target="_blank"> Variability Map  </a>
				</li>
				<li>
				    <a  href="{{ url_for('static', filename='images2/diffpanstarrsoutput/'+cand.medianfilename) }}" target="_blank"> Median Map  </a>
				</li>
			</ul>

			{% else %}
                        <a  href="{{ url_for('static', filename='images2/diffpanstarrsoutput/'+cand.filename) }}" target="_blank"> score: {{ cand.diff_score }}  </a>
			{% endif %}
                    </td>
                    <td>
                        <a style="color:rgb(34, 111, 226);">Links</a>
                        <ul  class="d-menu" data-role='dropdown'>
                            <li>
                            <a href="{{ 'http://ps1images.stsci.edu/cgi-bin/ps1cutouts?pos=' ~ cand.ra/10000 ~ '+' ~ cand.dec/10000 ~ '&filter=color&filter=g&filter=r&filter=i&filter=z&filter=y&filetypes=stack&auxiliary=data&size=80&output_size=400&verbose=0&autoscale=99.500000&catlist=' }}" target="_blank"> Pan-STARRS </a>
                            </li>
                            <li>
                            <a href="{{ 'http://legacysurvey.org/viewer?ra=' ~ cand.ra/10000 ~ '&dec=' ~ cand.dec/10000 ~ '&layer=dr8&zoom=16&gaia-dr2&spectra' }}" target="_blank"> Legacy Survey </a>
                            </li>
                            <li>
                                <a href="{{ 'http://legacysurvey.org/viewer?ra=' ~ cand.ra/10000 ~ '&dec=' ~ cand.dec/10000 ~ '&layer=des-dr1&zoom=16&gaia-dr2' }}" target="_blank"> DES </a>
                            </li>
                            <li>
                            <a href="{{ 'http://vizier.u-strasbg.fr/viz-bin/VizieR-4?-ref=VIZ59df3f2a9003&-to=4&-from=-3&-this=-3&%2F%2Fsource=I%2F345%2Fgaia2&%2F%2Ftables=I%2F345%2Fgaia2&-out.max=50&%2F%2FCDSportal=http%3A%2F%2Fcdsportal.u-strasbg.fr%2FStoreVizierData.html&-out.form=HTML+Table&-out.add=_r&-out.add=_p&-out.add=_x%2C_y&%2F%2Foutaddvalue=default&-oc.form=sexa&-nav=cat%3AI%2F345%26tab%3A%7BI%2F345%2Fgaia2%7D%26key%3Asource%3DI%2F345%2Fgaia2%26pos%3A' ~ cand.ra/10000 ~ '%09' ~ cand.dec/10000 ~ '%28+++5+arcsec+J2000%29%26HTTPPRM%3A%26-ref%3DVIZ59df3f2a9003%26-out.src%3DI%2F345%2Fgaia2%26Clear%3D+Clear%26-c%3D' ~ cand.ra/10000 ~ '%09' ~ cand.dec/10000 ~ '%26-c.r%3D++5%26-out.orig%3Dorig%26-out%3Dra%26-out%3Ddec%26-out%3Dparallax%26-out%3Dparallax_error%26-out%3Dpmra%26-out%3Dpmra_error%26-out%3Dpmdec%26-out%3Dpmdec_error%26-out%3Dastrometric_excess_noise%26-out%3Dastrometric_excess_noise_sig%26-out%3Dduplicated_source%26-out%3Dphot_g_mean_mag%26-out%3Dbp_rp%26-out%3Dphot_variable_flag%26-out%3Dl%26-out%3Db%26-meta.ucd%3D2%26-meta%3D1%26-meta.foot%3D1%26-usenav%3D1%26-bmark%3DGET%26-out.add%3D_r%26-out.add%3D_p%26-out.add%3D_x%2C_y%26-order%3DI%26-oc.form%3Dsexa%26-c.geom%3Dr%26-out.max%3D50%26-out.form%3DHTML+Table%26undefined%3DCDS%2C+France%26-c.eq%3DJ2000%26-c.u%3Darcsec%26&-c=' ~ cand.ra/10000 ~ '%09' ~ cand.dec/10000 ~ '&-c.eq=J2000&-c.r=++5&-c.u=arcsec&-c.geom=r&-source=I%2F345%2Fgaia2&-order=I&-out.orig=orig&DR2Name=&-out=ra&RA_ICRS=&e_RA_ICRS=&-out=dec&DE_ICRS=&e_DE_ICRS=&SolID=&Source=&RandomI=&Epoch=&-out=parallax&Plx=&-out=parallax_error&e_Plx=&RPlx=&-out=pmra&pmRA=&-out=pmra_error&e_pmRA=&-out=pmdec&pmDE=&-out=pmdec_error&e_pmDE=&RADEcor=&RAPlxcor=&RApmRAcor=&RApmDEcor=&DEPlxcor=&DEpmRAcor=&DEpmDEcor=&PlxpmRAcor=&PlxpmDEcor=&pmRApmDEcor=&NAL=&NAC=&NgAL=&NbAL=&gofAL=&chi2AL=&-out=astrometric_excess_noise&epsi=&-out=astrometric_excess_noise_sig&sepsi=&Solved=&APF=&WAL=&pscol=&e_pscol=&fvarpi=&MatchObsA=&Nper=&amax=&type=&MatchObs=&-out=duplicated_source&Dup=&o_Gmag=&FG=&e_FG=&RFG=&-out=phot_g_mean_mag&Gmag=&e_Gmag=&o_BPmag=&FBP=&e_FBP=&RFBP=&BPmag=&e_BPmag=&o_RPmag=&FRP=&e_FRP=&RFRP=&RPmag=&e_RPmag=&E%28BR%2FRP%29=&Mode=&-out=bp_rp&BP-RP=&BP-G=&G-RP=&RV=&e_RV=&o_RV=&Tefftemp=&loggtemp=&%5BFe%2FH%5Dtemp=&-out=phot_variable_flag&Var=&GLON=&-out=b&GLAT=&ELON=&ELAT=&fPriam=&Teff=&b_Teff=&B_Teff=&AG=&b_AG=&B_AG=&E%28BP-RP%29=&b_E%28BP-RP%29=&B_E%28BP-RP%29=&fFLAME=&Rad=&b_Rad=&B_Rad=&Lum=&b_Lum=&B_Lum=&RAJ2000=&e_RAJ2000=&DEJ2000=&e_DEJ2000=&%2F%2Fnoneucd1p=on&-file=.&-meta.ucd=2&-meta=1&-meta.foot=1&-usenav=1&-bmark=GET'}}" target="_blank"> Gaia </a>
                            </li>
                            <li>
                            <a href="{{ 'http://ned.ipac.caltech.edu/cgi-bin/objsearch?search_type=Near+Position+Search&in_csys=Equatorial&in_equinox=J2000.0&lon=' ~ cand.ra/10000 ~ 'd&lat=' ~ cand.dec/10000 ~ 'd&radius=2.0' }}" target="_blank"> NED </a>
                            </li>
                            <li>
                            <a href="{{ 'http://vizier.u-strasbg.fr/viz-bin/VizieR-2?-c=' ~ cand.ra/10000 ~ ',' ~ cand.dec/10000 ~ '&-c.r=5&-c.u=arcsec' }}" target="_blank"> Vizier </a>
                            </li>
                            <li>
                            {% if cand.dec >= 0 %}
                            <a href="{{ 'http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/search/?Plane.position.bounds@Shape1Resolver.value=ALL&Plane.position.bounds=' ~ cand.ra/10000 ~ '%2C%20%2B' ~ cand.dec/10000 ~ '#sortCol=caom2%3APlane.time.bounds.lower&sortDir=dsc&col_1=_checkbox_selector;;;&col_2=caom2%3AObservation.uri;;;&col_3=caom2%3AObservation.collection;;;&col_4=caom2%3APlane.time.bounds.lower;;;&col_5=caom2%3AObservation.instrument.name;;;&col_6=caom2%3APlane.time.exposure;;;&col_7=caom2%3APlane.energy.bandpassName;;;&col_8=caom2%3APlane.position.sampleSize;;;arcsec&col_9=caom2%3APlane.time.bounds.upper;;;&col_10=caom2%3APlane.position.bounds.cval1;;;&col_11=caom2%3APlane.position.bounds.cval2;;;&col_12=caom2%3AObservation.observationID;;;' }}" target="_blank"> CFHT archive </a>
                            {% else %}
                            <a href="{{ 'http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/en/search/?Plane.position.bounds@Shape1Resolver.value=ALL&Plane.position.bounds=' ~ cand.ra/10000 ~ '%2C%20%2D' ~ -cand.dec/10000 ~ '#sortCol=caom2%3APlane.time.bounds.lower&sortDir=dsc&col_1=_checkbox_selector;;;&col_2=caom2%3AObservation.uri;;;&col_3=caom2%3AObservation.collection;;;&col_4=caom2%3APlane.time.bounds.lower;;;&col_5=caom2%3AObservation.instrument.name;;;&col_6=caom2%3APlane.time.exposure;;;&col_7=caom2%3APlane.energy.bandpassName;;;&col_8=caom2%3APlane.position.sampleSize;;;arcsec&col_9=caom2%3APlane.time.bounds.upper;;;&col_10=caom2%3APlane.position.bounds.cval1;;;&col_11=caom2%3APlane.position.bounds.cval2;;;&col_12=caom2%3AObservation.observationID;;;' }}" target="_blank"> CFHT archive </a>
                            {% endif %}
                            </li>
                        </ul>
                        </td>
                        <td>
                            <input type="checkbox" value="{{ cand.id }}" name="{{ cand.id }}">
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
</div>

{% endblock %}
