{% extends "base.html" %}

{% block content %}
<div class="app-text">
    <h1> Download everything and your classifications </h1>
    <!-- <h2> Thanks for your contribution, {{ current_user.username }}!</h2>-->
    <p> You can download all the data as a <a href="csv" class="boxa">csv file</a>. </p>
    <p> Here is a list of the 10 last classifications you made (the most recent come first)</p>
</div> 
<div>
<table>
    {% for review, url, stampname in reviews_urls %}
    <tr style="vertical-align:center;">
        <th> <img src="{{ stampname }}" height="65em" width="65em"></th>
        <th>
            <a style="width:35em;" href="{{ url }}" target="_blank" style="float:left;" class="boxa"> {{ review }} </a>
        </th>
        <th>
            <form method="post">
                <button style="background-color:rgba(255, 60, 0, 0.9);" class="decide_button" type="submit" value="{{ review.id }}" name='delete'>Delete</button>
            </form>	
        </th>
    </tr>
    {% endfor %}
</table>

{% endblock %}
