{% extends "base.html" %}

{% block image %}
    {% if request.MOBILE %}
    <div class="data">
    {% else %}
    <div data-role="imagemagnifier"  data-magnifier-mode="glass" data-lens-size="150" data-magnifier-zoom="4">
    {% endif %}
      <img src="{{ image_to_display }}" width="900px" height="360px" >
    </div>


<!--
<script>
/* Initiate Magnify Function
with the id of the image, and the strength of the magnifier glass:*/
magnify("current", 4);
</script>
-->
{% endblock %}

{% block content %}

<div id="loading" class="imageinfo">
  
	<a href="{{ url }}" target="_blank" class="boxa">Pan-STARRS link    <img class="stamp" src="{{ stamp }}"> </a>

        <form action="/forward/" method="post">
            <button class="decide_button" type="submit" value="{{ image_to_display }}" name='lens'>Probably a lens</button>
            <button class="decide_button" type="submit" value="{{ image_to_display }}" name='broken'>Bad data / uncertain</button>
            <button class="decide_button" type="submit" value="{{ image_to_display }}" name='nope'>Probably not a lens</button>
        </form>	

</div>

{% endblock %} 
