{% extends "base.html" %}

{% block content %}
<div class="register">
	<h1> Register </h1>
	<p> 
		Thank you. We require you to create an account to be able to filter the 
		classifications in case of problem.  
		You can provide a fake email address. However if you do provide a real one,
		it will be used to send you news or gratitude at a later time. 
	</p><br>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }} <br>
			{{ form.username(size=32) }} <br>
			{% for error in form.username.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			{{ form.email.label }} <br>
			{{ form.email(size=64) }} <br>
			{% for error in form.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}<br>
			{% for error in form.password.errors %}
			<span style="color:red;">[{{ error }}]</span>
			{% endfor %}
		</p>
                <p>
                        {{ form.password2.label }}<br>
                        {{ form.password2(size=32) }}<br>
                        {% for error in form.password2.errors %}
                        <span style="color:red;">[{{ error }}]</span>
                        {% endfor %}
                </p>  
		<p>{{ form.submit() }}</p>
	</form>
</div>
{% endblock %}
