{% extends "base.html" %}

{% block content %}
<div class="app-text">
    <h1> How to classify? </h1>
    <p>  It is never difficult, but often uncertain! Make your best guess after considering the examples below.</p>

    <h2> A successful detection, and anatomy of what you see </h2>
    <p> 
        This first example is a successful detection. The process in which we reach this conclusion is the following:
    <ul>
        <li> There is something visible other than noise in the "Zoom" images, which are zooms of the center of the two bigger images.</li>
        <li> In the lower "Zoom" image, the thing does not look like a single star (which would be very round).</li>
        <li> Comparing the "Variation: normalised" and the "Originals", we see that all the bright objects seen in the originals did not vary, except for the central one.</li>
    </ul>
    </p>
    <p>
    This tells us that the central object did vary, and moreover that it did so in more than one place. 
    This is good evidence of a strong gravitationnal lens.
    Now had there been more spots that the central one in the "Variation. normalised" pane, 
    then this would have been a sign that the variation image was not generated correctly.
    </p>
</div>
<div class="data">
    <img id='current' src="static/tutorial/detection_750_26.6370_-11.5609_VariabilityMap_ri.png" width="900px" height="360px" > >
</div>
<div class="app-text">
    <p> Let us have a look at another successful detection:</p>
</div>
<div class="data">
    <img id='current' src="static/tutorial/quad_777_69.5619_-12.2875_VariabilityMap_ri.png" width="900px" height="360px" > >
</div>
<div class="app-text">
    <p> The same points as above apply: only the center varies, and in the zoom image multiple patches rise above the noise. </p>
    <p> Unfortunately, such cases are actually rare, and most of the time you will see cases similar to the examples below. </p>
    <h2> Example of a broken dataset</h2>
    <p> We consider a case where something went wrong with the way the data was processed.</p>
</div>
<div class="data">
    <img id='current' src="static/tutorial/failed_970_295.8893_33.5241_VariabilityMap_ri.png" widht="900px" height="360px">
</div>
<div class="app-text">
<p> 
    In this plot, the zooms seem to indicate that something is varying at multiple places. However the wider view given by the middle panel 
    seems to show that in fact, everything in the field is varying. This is probably the result of a faulty handling of the data and is not a real variation.
</p>
<h2> Examples of non-detections</h2>
<p>  Finally we consider two examples where the datasets do not provide evidence for a lens at all.</p>
</div>
<div class="data">
    <img id='current' src="static/tutorial/nothing_764_297.4308_-3.8330_VariabilityMap_ri.png" widht="900px" height="360px">
</div>
<div class="app-text">
    <p> Here we have a lot of trouble making anything emerge out of the noise in the "Zoom normalised" pannel. This means nothing varied significantly,
        we then have a negative result.
    </p>
</div>
<div class="data">
    <img id='current' src="static/tutorial/nothing_764_297.4308_-3.8330_VariabilityMap_ri.png" widht="900px" height="360px">
</div>
<div class="app-text">
 <p> Final example: a variable star</p>
</div>
<div class="data">
    <img id='current' src="static/tutorial/single_star_803_101.5130_39.9153_VariabilityMap_ri.png" widht="900px" height="360px">
</div>
<div class="app-text">
<p> Here everything went right, nothing seems to be varying in the wide field except in the center, as we desire. 
    However, only one, round patch is emerging from the zooms. This is also a negative, as for a lens we need to have multiple images.</p>
</div>


{% endblock %}
